[submodule "spider"]
    path = spider
    url = https://github.com/honmaple/maple-spider
[submodule "game"]
    path = game
    url = https://github.com/honmaple/maple-game
[submodule "tail"]
	path = tool/tail
	url = git@github.com:honmaple/maple-tail.git
